.c-button {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    width: auto;
    padding: 0 28px;
    line-height: 30px;
    border-radius: 4px;
    color: #f38d39;
    background-color: transparent;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    border: 1px solid #f38d39;

    &__confirm {
        color: #fff;
        background-color: #f38d39;
    }

    &:active {
        transform: scale(0.95);
    }

    &__large {
        line-height: 40px;
    }

    &__disabled {
        background-color: #f9dcc5;
        border-color: #f9dcc5;
        cursor: default;
    }
}
