<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
<link href="/css/app.633cb472.css" rel="stylesheet"></head>
<body>
    <script charset="utf-8">
        window.__INITIAL_STATE__ = {{{ serverState}}};
    </script>
    <div id="root">{{{content}}}</div>
<script type="text/javascript" src="/manifest.3f519af9.js"></script><script type="text/javascript" src="/vendors.208e404e.js"></script><script type="text/javascript" src="/app.d7ea8cbd.js"></script></body>
</html>
