<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
<link href="/css/app.a18e898d.css" rel="stylesheet"></head>
<body>
    <script charset="utf-8">
        window.__INITIAL_STATE__ = {{{ serverState}}};
    </script>
    <div id="root">{{{content}}}</div>
<script type="text/javascript" src="/manifest.a92fad16.js"></script><script type="text/javascript" src="/vendors.5435db86.js"></script><script type="text/javascript" src="/app.850599ca.js"></script></body>
</html>
