<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
<link href="/css/app.99815015.css" rel="stylesheet"></head>
<body>
    <script charset="utf-8">
        window.__INITIAL_STATE__ = {{{ serverState}}};
    </script>
    <div id="root">{{{content}}}</div>
<script type="text/javascript" src="/manifest.f9a61627.js"></script><script type="text/javascript" src="/vendors.4915b568.js"></script><script type="text/javascript" src="/app.00078631.js"></script></body>
</html>
