.c-select {
    cursor: pointer;
    position: relative;
    width: 176px;
    display: inline-block;
    margin-right: 16px;
    background-color: #fff;
    color: #333;

    &__disabled {
        color: #888;
        cursor: default;
    }

    &--selected {
        font-size: 14px;
        width: 176px;
        border: 1px solid #e0dfe7;
        border-radius: 3px;
        line-height: 30px;
        padding: 0 30px 0 8px;
        box-sizing: border-box;
        position: relative;

        &--text {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            user-select: none;
        }

        &--icon {
            position: absolute;
            right: 10px;
            line-height: 30px;
            top: 0;
        }
    }

    &--popover {
        width: 100%;
        max-height: 400px;
        overflow: auto;
        position: absolute;
        z-index: 1;
        top: 40px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        background-color: #fff;

        &__hide {
            display: none;
        }
    }
}
