.c-house-info {
    &--single-room {
        &--fold {
            display: none;
        }

        &--expand {
            max-height: 1000px;
            transition: all 0.3s;
        }

        &__fold {
            .c-house-info--single-room--fold {
                display: block;
            }

            .c-house-info--single-room--expand {
                max-height: 0;
                transform: scale(1, 0);
            }
        }
    }
}
