.c-house-info {
    &--single-room {
        margin-bottom: 32px;

        &--fold {
            opacity: 0;
            height: 0;
            overflow: hidden;
            transition: opacity 0.5s;
            transition-delay: 0.2s;
        }

        &--expand {
            opacity: 1;
            max-height: 1000px;
            transition: all 0.3s;
        }

        &__fold {
            .c-house-info--single-room--fold {
                opacity: 1;
                height: auto;
                overflow: auto;

                &__del {
                    opacity: 0;
                }
            }

            .c-house-info--single-room--expand {
                opacity: 0;
                max-height: 0;
                overflow: hidden;
            }
        }
    }

    .fade-enter {
        opacity: 0.01;
    }

    .fade-enter.fade-enter-active {
        opacity: 1;
        transition: opacity 1000ms ease-in;
    }

    .fade-exit {
        opacity: 1;
    }

    .fade-exit.fade-exit-active {
        opacity: 0.01;
        transition: opacity 800ms ease-in;
    }
}
