@className: c-upload-image;

.@{className} {
    position: relative;
    height: 128px;
    width: 220px;

    &--select {
        position: relative;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        background: #fcfcfc;
        border: 1px solid #e0dfe7;
        border-radius: 4px;
        transition: background 0.2s;
        text-align: center;
        cursor: pointer;
        line-height: 2;
    }

    &--select:hover {
        background: rgba(254, 250, 246, 0.63);
        border: 1px solid #f38d39;

        .@{className}--note {
            color: #f38d39;
        }
    }

    &--note {
        width: 100%;
        height: 100%;
        font-size: 12px;
        color: #8a8a8a;
        display: inline-block;
        vertical-align: middle;

        &::after {
            content: '';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }

    &:hover {
        .@{className}--del {
            display: block;
        }
    }

    &--del,
    &--loading {
        display: none;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;
        top: 0;
        background-color: rgba(51, 51, 51, 0.65);
        text-align: center;
        color: #fff;
        cursor: pointer;

        &::after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            height: 100%;
        }

        &-content {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &--loading {
        &-content {
            width: 178px;
        }
    }

    &--del {
        &-content {
            font-size: 18px;
        }
    }

    &__loading {
        .@{className}--loading {
            display: block;
        }
    }

    &__error {
        .@{className}--note {
            color: #f04134;
        }
    }
}
